*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
projectFilesBackup
*/.DS_Store
**/.DS_Store
.DS_Store
.bpmn
atlassian-ide-plugin.xml
*.bpmn2d
/.target
.cache
war
local.conf
.bash_profile
